@import "variables";

/* Customize the label (the container) */
.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &.checked {
        opacity: 0.5;
        text-decoration: line-through;
    }

    &:hover input ~ .checkmark {
        background-color: $white;
    }
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: $blue;

            &:after {
                width: 5px;
                height: 10px;
                border-width: 0 3px 3px 0;
                left: 9px;
                top: 5px;
            }

        }


    }
    
    .checkmark {
        position: absolute;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $text-light-2;
        border-radius: 2px;
        
        &:after {
            content: "";
            position: absolute;
            transition: all 0.2s ease-in-out;
            width: 0px;
            height: 0px;
            top: 50%;
            left: 50%;
            border: solid white;
            border-width: 0;
            transform: rotate(45deg);
        }
        
    }
    
}
  